<%= render MpiDesignSystem::Admin::AppShell::Component.new(
  current_section: current_section,
  current_subsection: current_subsection,
  user_name: user_name,
  search_url: search_url,
  show_sidebar: show_sidebar,
  sections: sections,
  subsections: subsections,
  logo_text: logo_text,
  logo_mark: '<svg width="20" height="24" viewBox="0 0 24 24" fill="#4EA8DE" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><rect x="2" y="2" width="20" height="20" rx="4"/></svg>'.html_safe,
  system_url: system_url,
  sign_out_url: sign_out_url,
  profile_url: profile_url,
  environment: environment
) do |shell| %>
  <% shell.with_body do %>
    <div class="p-4">
      <h1 class="h3 mb-3" style="color: #1B2A4A;">CRM Contacts</h1>
      <p class="text-muted">Custom CRM app with configurable sections, environment color-coding, system icon, and user menu.</p>
    </div>
  <% end %>
<% end %>
