<%= render Admin::ListView::Component.new(
  entity_type: :contacts,
  groups: [
    { label: "All", count: 156, group: nil, selected: true },
    { label: "Distribution", count: 42, group: :distribution, selected: false }
  ],
  total_count: 156,
  current_page: 1,
  per_page: 25,
  view_mode: :card,
  list_url: "#list",
  card_url: "#card"
) do |view| %>
  <% view.with_card_content do %>
    <div class="row g-3">
      <div class="col-md-4">
        <%= render Admin::ContactCard::Component.new(name: "Jane Cooper", company: "Acme Films", tags: [{ label: "Acquisitions", group: :distribution }], last_engaged: "2 days ago", engagement_count: 14, path: "#") %>
      </div>
      <div class="col-md-4">
        <%= render Admin::ContactCard::Component.new(name: "Robert Fox", company: "Berlin Film Fest", tags: [{ label: "Festival", group: :press_festival }], last_engaged: "1 week ago", engagement_count: 8, path: "#") %>
      </div>
      <div class="col-md-4">
        <%= render Admin::ContactCard::Component.new(name: "Emily Chen", company: "Film Weekly", tags: [{ label: "Journalist", group: :outreach }], last_engaged: "3 days ago", engagement_count: 22, path: "#") %>
      </div>
    </div>
  <% end %>
<% end %>
