<div class="row g-4">
  <div class="col-md-4">
    <% if profile_panel? %>
      <%= profile_panel %>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if activity_panel? %>
      <%= activity_panel %>
    <% end %>
  </div>
</div>
